*{
    box-sizing: border-box;
}
.row{
    width: 100%;

}
.container{
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

.column{
    float: left;
}

.column.oneHalf, .column.oneThird, .column.oneQuarter, .column.oneEighth, .column.twoThird{
    border: 1px solid black;
    background-color: #848487;
}

.column.oneHalf{
    width: 50%;

}

.column.oneThird{
    width: 33.33%;
}
.column.oneQuarter{
    width: 25%;
}
.column.oneEighth{
    width: 12.5%;
}
.column.twoThird{
    width: 66.66%;
}

@media screen and (max-width: 768px) {
    .column.oneHalf,
    .column.oneQuarter,
    .column.oneThird,
    .column.twoThird{
        width: 100%;
    }
}
